*{
padding:0px;
margin:0px;
}
#symbol{
color:grey;
margin-left:90px;
}
#mytfc_button{
margin-top:6px;
}
.navbar{
background-color:white;
}
.active{
background-color:f5f5fd;
}
li{
padding-left:30px;
}
.navbar-brand{
padding-left:160px;
}
#imgbg{
padding:0px;
}
